$primary: hsla(200, 97%, 38%, 1);
$primary-dark: hsla(200, 97%, 28%, 1);

$secondary: hsla(48, 100%, 53%,1);
$secondary-dark: hsla(48, 100%, 47%,1);
$secondary-light: hsla(48, 100%, 60%,1);

$footer-color: #EEE;

$medium: "only screen and (min-width: 40.063em)";
$large: "only screen and (min-width: 64.063em)";